    /* small-devices */

@media (min-width: 370px) and (max-width: 767.98px) 
{ * {
    flex-wrap: wrap;
}
   
   .overlay .d-flex {
    flex-wrap: wrap;

   }

   .custom-span {
    font-size: 20px;
    width: 50px;
    height: 50px;


   }

   .custom {
    width: 75%;
   }

   .overlay ul{
    width: 100%;
   }
     .d-flex .sec1:nth-child(2), .d-flex .sec1:nth-child(3) {
        display: none
    }

    .d-flex .sec1 {
        width: 100%;
    }

    .special-d-flex {
      flex-wrap: nowrap;
    }

    .justify-content-between2 {
      flex-wrap: wrap;
    }
      
  .custom-ul {
    flex-wrap: wrap;
    margin: 0 2%;
  }
  .custom-ul .special {
    width: 100%;
  }
  .news {
    width: 75%;
   
  }
  .news .background {
    width: 100%;
  }
  .flex {
    width: 100%;
  }
  .right-aside {
    width: 100%;
  }
  .left-aside {
    width: 100%;
  }

  .container {
    width: 90%;
    margin: auto;
  }

  .right {
    font-size: 16px;
    width: 40px;
    height: 40px;

  }

  .left {
    font-size: 16px;
    width: 40px;
    height: 40px
  }

  .special-icons {
    margin-left: 3%;
    margin-bottom: 2%;
    padding-left: 7%;
  }

  

  .custom-ul-2 .special2 {
    width: 100%;
  }

  
  .special-flex {
    width: 100%;
  }

  .third {
    width: 100%;
  }

  .justify-content-between {
    margin: 0;
  }

  .text {
    margin-left: 4%;
    margin-top: 3%;
  }

  .text p {
    margin: 0;
  }

  .sec1 {
    justify-content: center;
  }

  .special-section p {
    padding: 0%;
    font-size: 15px;
  }
.special-sec {
    width: 70%;
    margin: 0;
}
  .fourth {
    width: 100%;
    margin: 0;
  }

  .icons {
    margin-left: 3%;
    padding: 0;
    
  }

  .icons-sec {
    margin-top: 4%;
    margin-bottom: 3%;

  }

  .special-flex2 {
    width: 100%;
  }
  .special-flex2 img {
    height: 250px;
  }

  .lastp {
    margin-top: 2%;
    width: 70%;
  }

  .bg1 {
    width: 100%;
    
  }
  .bg1 img {
    height: 244px;
  }

  .aside-1 {
    width: 100%;
  }

  .d-flex {
    margin: 3% 0;
  }

  .d-flex-2 img {
    width: 100% !important;
  }
}

/* medium-devices */

@media (min-width: 768px) and (max-width: 991.98px) { 
   
       .overlay .d-flex {
       
    
       }
    
       .custom-span {
        font-size: 20px;
       
        height: 50px;
    
    
       }
    
       .overlay ul{
        width: 80%;
       }

       .d-flex ul li {
        padding-left: 2%;
       }
         
    
        .d-flex .sec1 {
            width: 100%;
            
        }
          
      .custom-ul li{
        padding: 0 4%;
       width: 20%;
      }
      .d-flex .custom-ul  {
        margin-top: 5%;
      }

      .justify-content-between {
        flex-wrap: wrap;
      }
      .news {
        width: 80%;
      }
      .news .background {
        width: 100%;
      }
      .flex {
        width: 100%;
      }
      .right-aside {
        width: 100%;
      }
      .left-aside {
        width: 100%;
      }
    
      .container {
        width: 80%;
        margin: auto;
      }
    
      .right {
        font-size: 16px;
        width: 40px;
        height: 40px;
    
      }
    
      .left {
        font-size: 16px;
        width: 40px;
        height: 40px
      }
    
      .special-icons {
        margin-left: 3%;
        margin-bottom: 2%;
      }

    
    
      .icons-sec {
        margin: 4% 0;
      }
      .special-flex {
        width: 48%;
        margin-left: 2%;
      }

      .custom-ul-2 li {
        padding: 0 2%;
      }

     
    
      .third {
        width: 100%;
      }
    
      .justify-content-between2 {
        margin: 0;
        flex-wrap: nowrap;
      }
    
      .text {
        width: 70%;
      }

      
    
      .special-section p {
        padding: 0%;
        font-size: 15px;
      }
    .special-sec {
        width: 70%;
        margin: 0;
    }
      .fourth {
        width: 80%;
        margin: 3%;
      }
    
      .icons {
        margin: 0 3%;
      }
    
      .special-flex2 {
        width: 100%;
      
      }
      .special-flex2 img {
        width: 70%;
        height: 200px;
      }
    
      .lastp {
        margin-top: 2%;
        width: 70%;
      }
    
      .bg1 {
        width: 50%;
        
      }
      .bg1 img {
        width: 90%;
        height: 120px;
      }

      .postion p {
        font-size: 14px;
        width: 80%;
      }
      .postion span {
        font-size: 10px;

      }
      .d-flex {
        justify-content: center;
      }
      .postion button {
        font-size: 10px;
        left: 30%;
        width: 20%;
      }
    
      .aside-1 {
        width: 100%;
      }
    
      .d-flex {
       margin: 0;
      }
    
      .d-flex-2 img {
        width: 30% !important;
        }

        .aside-1 h2 {
          margin-top: 2%;
        }





   
    
    