/* reset style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    width: 30%;
    justify-content: space-between;
}
ul a {
    text-decoration: none;
    color: white;

}


/* global style */
.container {
    width: 75%;
    margin: auto;
}
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
    align-items: center;
}

/* custom style */
.header{
    background-image: url(../images/xbg2.jpg.pagespeed.ic.QoUnFCtMkz.webp);
   
    color: white;
   
    
}

.glasses {
    font-size: 30px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.493);
    height: 100%;
    padding-top: 2%;
}
.sec1 {
    display: flex;
    margin-top: 50%;
    font-size: 20px;
    padding-bottom: 30px;
    justify-content: space-between;
    width: 35%;
    
}
.sec1 p {
  
    color: white;
}
.custom-span {
  
    border-radius: 50%;
    border: 2px solid grey;
    width: 50px;
    height: 50px;
    line-height: 2;
    text-align: center;
    font-size: 30px;
    color: white;
   
   
}

.custom-ul a{
    list-style: none;
    color: #a7a7a7a7;
}
.custom-ul {
    width: 100%;
   margin-top: 8%;
}

.special a{
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
    color: black;
}

.middle {
    margin-top: 8%;
    margin-bottom: 3%;
}
.middle hr {
    width: 60%;
}

.background {
    background-image: url(../css/xb2.jpg.pagespeed.ic.G3CqIJTFth.webp);
    background-size: 100% 100%;
    height: 200px;
    margin-bottom: 5%;
    
}
.news {
    width: 48%;
    box-shadow: 0px 0px 8px 1px #888888;
}

.news h3 {
    margin: 2% 0;
}
.news p {
    margin: 3% 0;
    color: #a7a7a7;
}

.last-p {
    color: #a7a7a7;
    padding: 3% 0;
}

.special-div {
    text-align: center;
    padding: 2%;
}

.d-flex img {
    height: 97px;
    width: 97px;
   
}
.first-sec {
    display: flex;
}
.special-sec p{
    padding-top: 4%;
}

.special-sec {
   width: 75%;
   
}
.flex {
    display: flex;
    flex-direction: column;
    width: 48%;
}
.custom {
  box-shadow: 0px 0px 5px #d3d3d3;
    margin: 5px 0;
}
.parent {
    display: flex;
}



.left-aside{
    width: 70%;
}
.right-aside{
    width: 25%;
}

.special-d-flex {
    display: flex;
    justify-content: space-between;
}

.special-hr {
    margin-bottom: 3%;
}

.left {
    border: 3px solid #a7a7a7;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 2;
    font-size: 30px;
    text-align: center;
    color: #a7a7a7;
    
}
.right {
    border: 3px solid #a7a7a7;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 2;
    font-size: 30px;
    text-align: center;
    margin: 0 1%;
    color: #a7a7a7;
}
.special-icons {
    margin-top: 5%;
  
}
.special-icons button {
    border: none;
}
.custom-ul-2 a{
   
        list-style: none;
        color: #a7a7a7a7;
}

.custom-ul-2 {
    width: 100%;
   margin-top: 8%;
}
.custom-ul-2 .d-flex {
    width: 100%;
}

.special2 a {font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
    color: black;

}
.custom2 {
   
}
.special-flex img {
  width: 100%;
  height: 200px;
}

.d-flex-special {
    display: flex;
}
.third img {
    width: 97px;
    height: 97px;
}
.text {
    width: 70%;
}
.third {
    width:48%;
    margin: 1% 0;
    box-shadow: 0px 0px 8px #e7e7e7;
}
.custom-padding {
    padding: 1% 0;
    box-shadow: 0px 0px 8px #e7e7e7;
}

.special-flex {
    width: 48%;
    box-shadow: 0px 0px 8px #888888;
}
.special-section hr {
   margin: 6% 0;
}
.special-section p {
    padding: 6% 0;
    color: #a7a7a7;
}
.custom-hr {
    margin-top: 6% ;
}
.special-h4 {
    margin: 5% 0;
}
.icons-sec {
font-size: 20px;
margin: 8% 0;
color: #a7a7a7;



}
.icons {
    padding: 0 4%;
  
}

.special-flex2 img {
    width: 100%;
    height: 150px;
    margin-top: 10% ;
}
.lastp {
    font-weight: bold;
    margin-top: 6%;
}

.right-aside {
    border-left: 1px solid #eee;
    display: flex;
    flex-direction: column;
   

}

.bg-sec {
    background-image: url(../Image-of-World-Tamplate/Image/xb4.jpg.pagespeed.ic.LdOhOhXA0d.webp);
   background-size: 100% 100%;
   height: 200px;
  
}

.overlay2 {
    background-color: rgba(0, 0, 0, 0.473);
    height: 100%;
    padding-top: ;
}