/* reset style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
   
}

.overlay h1 {
    font-weight: bold;
    color: white;
    font-size: 20px;
}
ul{
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
ul a {
    text-decoration: none;
    color: white;

}


/* global style */
.container {
    width: 60%;
    margin: auto;
}
.d-flex{
    display: flex;
}

.d-flex2 {
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
}

/* custom style */
.header{
    background-image: url(../images/xbg2.jpg.pagespeed.ic.QoUnFCtMkz.webp);
   
    color: white;
   
    
}

.glasses {
    font-size: 30px;
   padding: 0 3%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.905);
    height: 100%;
    padding-top: 2%;
}
.sec1 {
    display: flex;
    margin-top: 50%;
    font-size: 20px;
    padding-bottom: 30px;
    justify-content: space-between;
    width: 35%;
    
}


.d-flex ul li {
    padding-left: 3%;
}
.sec1 p {
  
    color: grey;
    font-weight: bold;
    margin: 0 5%;
    margin-top: 1%;
}
.custom-span {
  
    border-radius: 50%;
    border: 5px solid grey;
    border-top-color: blue;
    border-right-color: blue;
    border-bottom-color: blue;
    width: 98px;
    height: 70px;
    line-height: 2;
    text-align: center;
    font-size: 30px;
    color: grey;
    font-weight: bold;
   
   
}

.custom-ul a{
    list-style: none;
    color: #a7a7a7a7;
}
.custom-ul {
    width: 100%;
   margin-top: 8%;
}

.special a{
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
    color: black;
}

.middle {
    margin-top: 8%;
    margin-bottom: 3%;
}
.middle hr {
    width: 60%;
}

.background {
    background-image: url(../css/xb2.jpg.pagespeed.ic.G3CqIJTFth.webp);
    background-size: 100% 100%;
    height: 200px;
    margin-bottom: 5%;
    
}
.news {
    width: 48%;
    box-shadow: 0px 0px 8px 1px #888888;
}

.news h3 {
    margin: 2% 0;
}
.news p {
    margin: 3% 0;
    color: #a7a7a7;
}

.last-p {
    color: #a7a7a7;
    padding: 3% 0;
}

.special-div {
    text-align: center;
    padding: 2%;
}
.special-div h3 {
    font-weight: bold;
    line-height: 1.5;
}
.special-div p {
    font-size: 12px;
}

.d-flex img {
    height: 97px;
    width: 97px;
   
}
.first-sec {
    display: flex;
}
.special-sec p{
    font-size: 12px;
    padding-top: 4%;
}

.special-sec {
   width: 75%;
margin: 0 2%;
padding: 3%;
   
}
.special-sec h3 {
   font-size: 13px;
   font-weight: bold;
}
.flex {
    display: flex;
    flex-direction: column;
    width: 48%;
}
.custom {
  box-shadow: 0px 0px 5px #d3d3d3;
    margin: 1%;
}
.parent {
    display: flex;
}



.left-aside{
    width: 70%;
}
.right-aside{
    width: 25%;
    margin-top: 6%;
}

.special-d-flex {
    display: flex;
    justify-content: space-between;
}

.special-hr {
    margin-bottom: 3%;
}

.left {
    border: 3px solid #a7a7a7;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 2;
    font-size: 30px;
    text-align: center;
    color: #a7a7a7;
    
}
.right {
    border: 3px solid #a7a7a7;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 2;
    font-size: 30px;
    text-align: center;
    margin: 0 1%;
    color: #a7a7a7;
}
.special-icons {
    margin-top: 5%;
  
}
.special-icons button {
    border: none;
}
.custom-ul-2 a{
   
        list-style: none;
        color: #a7a7a7a7;
}

.custom-ul-2 {
    width: 100%;
   margin-top: 8%;
}
.custom-ul-2 .d-flex {
    width: 100%;
}

.special2 a {font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
    color: black;

}
.custom2 {
   
}
.special-flex img {
  width: 100%;
  height: 200px;
}

.d-flex-special {
    display: flex;
}
.third img {
    width: 97px;
    height: 97px;
}
.text p {
    font-size: 13px;
   margin: 5%;
   
    
}
.third {
    width:48%;
    margin: 1% 0;
    box-shadow: 0px 0px 8px #e7e7e7;
}
.custom-padding {
    padding: 1% 0;
    box-shadow: 0px 0px 8px #e7e7e7;
}

.special-flex {
    width: 48%;
    box-shadow: 0px 0px 8px #888888;
}
.special-section h1 {
    margin: 0 5%;
    font-weight: bold;
}
.special-section hr {
   margin: 6% 0;
}
.special-section p {
    padding: 6% 0;
    color: #a7a7a7;
    margin: 0 5%;
}
.special-section h3 {
    margin: 0 5%;
    font-weight: bold;
}
.custom-hr {
    margin-top: 6% ;
}
.special-h4 {
    margin: 5%;
    font-weight: bold;
}
.icons-sec {
font-size: 20px;
margin: 8% 0;
color: #a7a7a7;



}
.icons {
   width: 32px;
   height: 30px;
   line-height: 2;
   border: 1px solid #e7e7e7;
   border-radius: 50%;
  text-align: center;

 
  
  color: #a7a7a7;
}

.special-flex2 img {
    width: 100%;
    height: 150px;
    margin-top: 10% ;
    
}
.lastp {
    font-weight: bold;
    margin-top: 6%;
    margin-left: 6%;
}

.right-aside {
    border-left: 1px solid #eee;
    display: flex;
    flex-direction: column;
   

}
.special-flex2 {
    padding-left: 5%;
}
.fourth img {
    width: 60px;
    height: 70px;
    margin-right: 4%;
}
.special-div {
    padding: 5%;
}

.fourth {
    margin: 5%;
}

.bg1 img {
width: 100%;
height: 160px;
}

.bg1 {
    position: relative;

}

.postion button {
    position: absolute;
    top: 6%;
    right: 50%;
    padding: 0 3%;
}

.postion button:hover {
    background-color: blue;
    color: white;
    transition: 0.5s;
}

.postion p {
    position: absolute;
    width: 100%;
    top: 30%;
    left:9%;
    font-weight: bold;
    color: white;
    font-size: 18px;

}
.postion span {
    position: absolute;
    top: 80%;
    color: #a7a7a7;
    left: 9%;
    font-size: 15px;

}


.v-special {
    width: 90%;
    margin: 2%;
    padding: 1%;
   
}

.aside-1 {
    width: 70%;
}
.aside-1 h2 {
    font-weight: bold;
}

.v-special h3 {
    font-weight: bold;
    padding-bottom: 1%;
    font-size: 18px;
}
.v-special p {
    font-size: 15px;
    color: #a7a7a7;
}
.v-img {
    width: 25% !important;
    height: 25% !important ;
   
   
}

.aside-2 h2 {
    
    font-weight: bold;
}

.last-sec {
    margin-top: 5%;
}

.d-flex-2 {
    display: flex;
    box-shadow: 0px 0px 10px 0px #eee;
    width: 90%;
    margin: 1% 0;
}
.d-hr {
    margin-top: 15px;
    margin-bottom: 30px;
}
    

.v-special span {
    color: #505050;
    font-size: 12px;

}

.justify-content-between2 {
    display: flex;
 
    flex-wrap: nowrap;
}

.aside-2 {
    width: 25%;
}

.font {
    width: 100%;
    padding: 5% 8%;
    
}

.spec h3 {
    font-weight: bold;
}

.spec p {
    font-size: 14px;
    margin-bottom: 3%;
}

.spec span {

    font-size: 12px;
    margin-top: 4%;
}

.spec button {
    position: absolute;
    top: 3%;
    left: 15%;
    width: 20%;
    text-align: center;
    transition: 0.5s;
}

.spec button:hover {
    background-color: blue;
    color: white;
}

.spec .play {
    position: absolute;
    left: 45%;
    top: 20%;
    font-size: 40px;
    color: white;
}

.spec {
    position: relative;
    box-shadow:0px 0px 8px 1px #888888 ;
}

.spec img {
    width: 100%;
}

.load {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 50%;
    margin-top: 5%;
 
}

.load button {
    padding: 0 25px;
    width: auto;
    height: 35px;
    border: 1px solid;
    border-color: #d7d7d7;
    font-size: 14px;
    border-radius: 50px;
    line-height: 32px;
}

.bg-light {
    background-color: black;
    width: 100%;
    height: 200px;
}

.footer h2 {
    font-weight: bold;
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
}

.footer p {
    color: white;
    font-size: 15px;
}

.footer {
    width: 25%;
}

.sub h3 {
    font-weight: bold;
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
}


.sub {
    width: 25%;
}
.sub input {
    width: 100%;
    height: 35px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    border-color: #959595;
    color: #959595;
    font-size: 14px;
    padding: 0 5px;
}

.d-flex3 {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.d-flex ul li {
    margin: 2% 5%;
}