.icon {
    font-size: 80px;
    margin: 20%;
    animation-name: icons-trans;
    animation-duration: 1s;
    animation-iteration-count: infinite;
   
   
    

}
@keyframes icons-trans{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}