.dropdown-menu .row {
    width: 800px;
    height: 200px;
}

a {
    text-decoration: none;
    color: black;
}

.dropdown:hover .dropdown-menu {
  
    margin-top: 0; 
    transform: translateX(0px);
    visibility: visible;
     transition: 0.5s;
    
 }


.dropdown-item:hover {
    color: #0d6efd;
    transition: 0.25s;
    background-color: transparent;
}

 .dropdown-menu {
    display: block;
    visibility: hidden;
   
    transform: translateX(-20px);
 }


 .navbar-light .navbar-nav .nav-link:hover{
    color: #0d6efd;
 }

 .pages {
   right: 0;
 }
 

 .carousel-item {
    height: 800px;
 }

 .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.603);
 }

.carousel-caption .contact:hover {
    background-color: #0275d8;
    transition: 0.5s;
}

.carousel-caption .contact:hover .effect {
    visibility: visible;
    transform: translate(300px) rotate(120deg);
    transition: 1s;
  
   
}

 .carousel-caption .effect {
    
    background-color: white;
    opacity: 0.2;
    position: absolute;
    width: 180px;
    height: 50px;
    top: 0;
    right: 180px;
    transform: rotate(120deg);
    transition: 1s;

  
   
}

.carousel-caption .contact {
    position: relative;
}
.carousel-caption .start {
    position: relative;
}

.carousel-caption .start:hover .effect {
    visibility: visible;
    transform: translate(300px) rotate(120deg);

  
}

.carousel-caption {
    padding-bottom: 10%;
}

.carousel-caption button {
    margin-top: 3%;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    
}

.carousel-indicators {
  left: 75%;
  bottom: 20%;
  right: inherit;
  flex-direction: column;
}

.settings {
    z-index: 2;
    top: 10%;
}

.About-us .hr-short {
    width: 25%;
    margin: 0;
}

.About-us .hr-long {
    width: 50%;
    margin-top: 2%;
    
}

.about {
    margin-left: 45%;
    margin-top: 2%;
}
.card img {
    height: 100%;
}

.cardy {
    padding-left: 20%;
    margin-top: 3%;
    
}

.middle-center {
left: -290px;
top:1%;
}

.middle-center p {
    margin: 2%;
}

.div-1:hover .hoover {
    color: #0275d8;
    transition: 0.5s;
   
}

.div-2:hover .hoover2 {
    color: #0275d8;
    transition: 0.5s;
    
}

.div-3:hover .hoover3 {
    color: #0275d8;
    transition: 0.25s;
   
}

.div-4:hover .hoover4 {
    color: #0275d8;
    transition: 0.25s;
}


.hiide {
   top: 100%;
 left: 0;
   visibility: hidden;
  transition: 0.25s;
}

.show:hover .hiide {
    visibility: visible;
    transform: translateY(-250px); 
    
}


.hiide2 {
    top: 100%;
    left: 0;
      visibility: hidden;
     transition: 0.25s;
}

.show2:hover .hiide2 {
    visibility: visible;
    transform: translateY(-250px); 
}

.hiide3 {
    top: 100%;
    left: 0;
      visibility: hidden;
     transition: 0.25s;
}

.show3:hover .hiide3 {
    visibility: visible;
    transform: translateY(-250px);
}

.hiide4 {
    top: 100%;
    left: 0;
      visibility: hidden;
     transition: 0.25s;
}

.show4:hover .hiide4 {
    visibility: visible;
    transform: translateY(-250px);
}


.hiide5 {
    top: 100%;
    left: 0;
      visibility: hidden;
     transition: 0.25s; 
}

.show5:hover .hiide5 {
    visibility: visible;
    transform: translateY(-250px);
}

.hiide6 {
    top: 100%;
    left: 0;
      visibility: hidden;
     transition: 0.25s; 
}

.show6:hover .hiide6 {
    visibility: visible;
    transform: translateY(-250px);
}

.bg {
    background-image: url(../images/istockphoto-1146472948-612x612.jpg);
    background-size: 100% 100%;
}

.etnen:hover {
    color: #0275d8;
    cursor: pointer;
    
}

.talata:hover {
    color: #0275d8;
    cursor: pointer;
}

.arb3a:hover {
    color: #0275d8;
    cursor: pointer;
   
}

.azra2 {
    bottom: 4%;
    left: 2%;
    visibility: hidden;
    transform: scaleX(0);
   
    
}

.haver:hover .azra2 {
    visibility: visible;
    transform: scaleX(1);
     transition: 0.5s;
}

.haver:hover .sora {
    box-shadow: 2px 2px 8px #888888;
    transition: 0.5s;
}

.azra21 {
    bottom: 4%;
    left: 2%;
    visibility: hidden;
    transform: scaleX(0);
}

.haver1:hover .azra21 {
    visibility: visible;
    transform: scaleX(1);
     transition: 0.5s;
}

.haver1:hover .sora1 {
    box-shadow: 2px 2px 8px #888888;
    transition: 0.5s;
}

.azra22 {
    bottom: 4%;
    left: 2%;
    visibility: hidden;
    transform: scaleX(0);
}

.haver2:hover .azra22 {
    visibility: visible;
    transform: scaleX(1);
     transition: 0.5s;
}

.haver2:hover .sora3 {
    box-shadow: 2px 2px 8px #888888;
    transition: 0.5s;
}

.azra23 {
    bottom: 4%;
    left: 2%;
    visibility: hidden;
    transform: scaleX(0);
}

.haver3:hover .azra23{
    visibility: visible;
    transform: scaleX(1);
     transition: 0.5s;
}

.haver3:hover .sora4 {
    box-shadow: 2px 2px 8px #888888;
    transition: 0.5s;
}

.azra24 {
    bottom: 4%;
    left: 2%;
    visibility: hidden;
    transform: scaleX(0);
}

.haver4:hover .azra24 {
    visibility: visible;
    transform: scaleX(1);
     transition: 0.5s;
}

.haver4:hover .sora5 {
    box-shadow: 2px 2px 8px #888888;
    transition: 0.5s;
}


.azra25 {
    bottom: 4%;
    left: 2%;
    visibility: hidden;
    transform: scaleX(0);
}

.haver5:hover .azra25 {
    visibility: visible;
    transform: scaleX(1);
     transition: 0.5s;
}

.haver5:hover .sora6 {
    box-shadow: 2px 2px 8px #888888;
    transition: 0.5s;
}

.jean {
    bottom: -2.5%;
    left: 12.5%;
}

.icons {
    bottom: 0;
    right: 12.5%;
   
}

.here {
    visibility: hidden;
}
.here1 {
    visibility: hidden;
}



.click1:hover .here1 {
    visibility: visible;
}





.trnsl1 {
    transform: translateY(120px); 
    transition: 0.5s;
}




.click1:hover .trnsl1 {
    transform: translateY(-10px);
}
;




.icons1 {
    transform: translateY(-20px);
}

 

.click:hover .icons {
    transform: translateY(7px) ;   
    transition: 1s;
}
.click1:hover .icons1 {
    transform: translateY(-30px) ;   
    
    transition: 1s;
}



.try:hover .this {
    color: black;
    cursor: pointer;
}


.nav-pills .nav-link.one {
   border-top-right-radius: 0 !important;
   border-end-end-radius: 0 !important;
}

.nav-pills .nav-item.one {
   border-top-right-radius: 0 !important;
   border-end-end-radius: 0 !important;
}
.nav-pills .nav-link.two {
   border-top-left-radius: 0 !important;
   border-end-start-radius: 0 !important;
}

.nav-pills .nav-item.two {
   border-top-left-radius: 0 !important;
   border-end-start-radius: 0 !important;
}


